/*#### Aula 1 curso CSS ####

# Sintaxe
Elemento {
    Propriedade: valor;
}

# Exemplo: */
h1{
    font-size: 28px;
    color: blue;
}
/*Criei a tag h1 (que pode ser um título um parágrafo (tag p) , ou (link a)*/

