/* styles.css */
.container {
    text-align: center;
    margin-top: 50px;
  }
  
  h1 {
    color: white; /* Texto branco para contraste */
    font-family: Arial, sans-serif;
    font-size: 48px;
    background-color: rgba(87, 8, 8, 0.726);  /* Preto com 70% de transparência */
    padding: 10px; /* Espaçamento interno */
    display: inline-block;  /* Faz o fundo cobrir apenas o tamanho do texto */
    border-radius: 5px; /* Bordas arredondadas */
  }
  
  p {
    font-size: 18px;
    color: #333;
  }
  
  .custom-button {
    background-color: #0073e6;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .custom-button:hover {
    background-color: #005bb5;
  }
  